{%extends 'base.html'%}
{%block body_block%}


                    <div class="row">








                        <div class="col-lg-6">

                            <!-- Dropdown Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div

                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">JobTitle: {{job.title}}</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="{%url 'edit-emp_job' job.id%}">Edit</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body ">
                                    <div class="float-left col-sm-7 ">CompanyName :  {{job.companyname}}</div>
                                    <div class="float-left col-sm-5">Location : {{job.location}}</div>
                                    <div class="float-left col-sm-7">Salary : {{job.salary}}</div>
                                    <div class="float-left col-sm-5">Experience : {{job.experience}}</div>



                                </div>
                            </div>



                        </div>

                    </div></div>

{%endblock%}